.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

.vitrine img {
  margin: 5% 25% 5%;
  width: 45%;
  height: 500px;
  display: flex;
  /* margin-left: 25%; */
  border-radius: 20px;
  object-fit: cover;
}
.vitrine {
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.patisserie {
  flex: 0 0 calc(50% - 20px); /* Pour diviser en deux colonnes */
  margin: 10px; /* Marge entre les éléments */
  text-align: center; /* Centrage du contenu */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.patisserie img {
  width: 100%;
  height: 500px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.patisserie {
  flex: 0 0 calc(25% - 20px); /* Pour diviser en quatre colonnes */
  margin: 10px; /* Marge entre les éléments */
  text-align: center; /* Centrage du contenu */
}
